.footer__copyright{
    &-year{
        font-size: 48px;
        opacity: .5;
    }
    &-name{
        font-weight: bold;
        text-transform: uppercase;
    }

    &-text{
        opacity: .5;
    }
}