.tags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
    flex-wrap: wrap;

    &__item{
    color: rgba(#100022, .5);
    background-color: #F3F6F9;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
    padding: 13px 21px;

    }
}