.values__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin-left: 25%;
    margin-bottom: 78px;
    
    &-text{
        margin-bottom: 54px;
    }
}
.values__widget{
    display: flex;
    justify-content: flex-end;
}
.values__title-text{
    color: $text-color-dark;
    font-weight: bold;
    font-size: 30px;
}
.values__content{
    color: #100022;

}

