@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "normalize.css";
@import "./mixins.pcss";
@import "./layout/base.pcss";
@import "./blocks/*.pcss";
/* @import "./blocks/header.pcss";
@import "./blocks/hero.pcss";
@import "./blocks/logo.pcss";
@import "./blocks/menu.pcss";
@import "./blocks/one.pcss";
@import "./blocks/socials.pcss";
@import "./blocks/two.pcss";
@import "./blocks/user_info.pcss"; */







